absl-py
antlr4-python3-runtime
black
brotlipy
cachetools
certifi
cffi
charset-normalizer
click
cloudpickle
coloredlogs
cryptography
cycler
Cython
cytoolz
dask
easydict
faster-rcnn
filelock
flit_core
fonttools
fsspec
future
fvcore
google-auth
google-auth-oauthlib
grpcio
h5py
huggingface-hub
humanfriendly
hydra-core
idna
imagecodecs
imageio
imgaug
importlib-metadata
importlib-resources
iopath
joblib
kiwisolver
locket
Markdown
MarkupSafe
matplotlib
mkl-fft
mkl-random
mkl-service
mock
msgpack
munkres
mypy-extensions
networkx
nltk
numpy
oauthlib
omegaconf
opencv-python
packaging
pandas
partd
pathspec
Pillow
pip
platformdirs
portalocker
protobuf
pyasn1
pyasn1-modules
pycocotools
pycparser
pyOpenSSL
pyparsing
PySocks
python-dateutil
python-version
pytz
PyWavelets
PyYAML
regex
requests
requests-oauthlib
rsa
scikit-image
scipy
setuptools
Shapely
six
tabulate
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorboardX
termcolor
tifffile
tokenizers
tomli
toolz
torch
torchvision
tqdm
transformers
typed-ast
typing_extensions
urllib3
Werkzeug
wheel
yacs
zipp
